.contact-us{
    max-width: 145px;
    
    &__title {
        @include style-h2;
    }

    &__bold,
    &__street,
    &__adress,
    &__tel,
    &__fax {
        @include description;
    }

    &__bold {
        font-weight: bold;
        padding-top: 19px;
    }

    &__tel {
        padding-top: 25px;
    }
}